
:root{
    --primary-color: #eae7e4;
    --segunda-color: #c0b4ab;
}

*{
    box-sizing:border-box;
    outline:0;
    margin:0;
    padding:0;
}

body{
    background: var(--primary-color);
}

.container{
    /* conteudo no meio da pagina */
    margin: 0 auto;
    padding:5px;
    background: var(--segunda-color);
}
.container-calcular{
    max-width: 640px;
    /* conteudo no meio da pagina */
    margin: 0 auto;
    padding:5px;
    background: var(--segunda-color);
}

.container-calcular h1, p {
    margin-top:20px;
}

.container-calcular form{
    margin-top: 10px;
}
.container-calcular form label{
    margin-top: 5px;
}

.container-calcular form input[type="text"] :focus{
    outline : 1px solid var(--primary-color)
}

.container-calcular form input[type="text"] {
    display: block;
    margin: 5px 0px;
    padding: 5px 10px;
}
.container-calcular form input[type="time"] :focus{
    outline : 1px solid var(--primary-color)
}
.container-calcular form input[type="time"] {
    display: block;
    margin: 5px 0px;
    padding: 5px 10px;
}

.container-calcular form button {
    margin-top: 5px;
    padding: 5px 10px;
}

