body {
    margin-top: 15%;
    display: flex;
    justify-content: center;
    background-color:#3b1039b9;
    /* color: #fff; */
}

.divgeral{
    width: 500px;
    height:200px;
    border: 1px solid #be4db9a1;
    display: flex;
    justify-content:center;
    align-items:center;

    background-color: #fff;
    border-radius: 10px;
}

input, button {
    display: block;
    margin-top:10px;

}